/* EDIT BELOW THIS LINE */

/* Add styles for section-1 */
.section-1 {
    display:flex;
    flex-direction: row;
    height: 200px;
    justify-content: center;
}

.section-1 > .flex-item:nth-child(even){
    flex-grow: 1;
}

.section-1 > .flex-item:nth-child(odd){
    flex-grow: 2;
}

.section-1 > .flex-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Add styles for section-2 */
.section-2 {
    flex-direction: column-reverse;
}
.section-2 > .flex-item:nth-child(1){
    align-self: flex-start;
    width: 50%;
    flex-grow: 1;
}
.section-2 > .flex-item:nth-child(5){
    align-self: flex-end;
    width: 50%;
    flex-grow: 1;
}
/* Add styles for section-3 */
.section-3{
  flex-direction: column;
  flex-wrap: wrap;
  align-content: start;
  height:125px;
}

.section-3  .flex-item{
  width: 200px;
  height: 50px;
  flex-basis: 34%;
  margin:0px;
}
.section-3 .flex-item:first-child{
  height: 100px !important;
  width: 350px !important;
  flex-basis: 68%;
}
.section-3 .flex-item:last-child{
  height: 100px !important;
  width: 350px !important;
  flex-basis: 68%;
}
/* Add styles for section-4 */

/* Add styles for section-5 */

/* Add styles for section-6 */

/* Add styles for section-7 */

/* Add styles for section-8 */
